*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/iosApp/iosApp.xcworkspace/xcuserdata/
/iosApp/iosApp.xcodeproj/xcuserdata/
/iosApp/Pods/
/iosApp/Podfile.lock
